@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: white;
  background: #F06B6B;
}

/* #app {
  display: flex;
  flex-direction: column;
  border: 1px solid tomato;
  width: calc(100% - 210px);
  margin-left: 210px;
}

.container {
  width: calc(100% - 250px);
  background: gray;
  position: relative;
  right: 20px;
  height: 92%;
  top: 15px;
}

.container.active {
  width: calc(100% - 80px);
}

.contentContainer {
  width: 96%;
  margin: auto;
  padding: 30px;
  background: white;
} */

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

.topBarContainer {
  position: absolute; 
  width: 100%; 
  height: 44px;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomDataContainer {

}

.hideMenu {
  display: none;
}

#app {
  font-family: 'Nunito', sans-serif,;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #BEC1C9;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.header {
  width: 220px;
  background: #1C252C;
  height: 100%;
  overflow: scroll;
  cursor: pointer;
}

.header.inactive {
  width: 40px;
  overflow: hidden;
}


.container {
  width: calc(100% - 220px);
  margin: auto 20px;
  height: 96%;
}

.container.active {
  width: calc(100% - 40px);
}


.statusbar {
  padding: 10px 0;
  width: 100%;
  background: white;
}

.fileInputContainer {
  height: 100px;
  width: 80%;
  padding: 10px;
  border: 2px dashed #F06B6B;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

#fileInput {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background: red;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.fileInputView {
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.fichieCommandeModal {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 0;
  position: absolute;
  height: 100%;
}

.closeModal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.mvtContainer {
  padding: 10px;
  width: 94%;
  margin: auto;
  height: 96%;
  overflow: scroll;
}

.modalProductInfo {
  height: 80%;
  width: 95%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.alertInStock {
  background: #DC3545;
  color: whitesmoke;
  border: 0;
  margin: 20px 15px;
  padding: 8px 10px;
}

.totalPrice {
  display: flex;
  margin: 20px 15px;
  justify-content: space-between;
}

.priceTitle {

}

.priceNumber {
  font-size: 25px;
  font-weight: 500;
  color: #F06B6B;
}

.cOne, .cTwo, .cData {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}

.cOne {
  display: flex;
  justify-content: space-between;
}

.cData {
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.mainNote.mnFicheProduit {
  margin: 20px 15px;
}

.mnFPContainer {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}
.toSelect {
  width: 40%;
}

.selected {
  width: 50%;
}
 
@media screen and (max-width: 1100px) {
  #app {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: red; */
    flex-direction: column;
  }

  .header {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    /* display: none; */
  }

  .header.inactive {
    height: 40px;
    width: 100%;
  }
  
  .container {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .container.active {
    width: calc(100%);
  }
}